*,
*::after,
*::before {
  box-sizing: border-box;
}

a,
b,
blockquote,
body,
canvas,
caption,
code,
div,
em,
embed,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
label,
li,
object,
ol,
p,
pre,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
video {
  border: 0;
  font: inherit;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

footer,
header,
main,
nav,
section {
  border: 0;
  display: block;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}
